html
{
    font-family: Arial, Helvetica, sans-serif;
}
.b
{
    width: 220px;
    display: flex;
    justify-content: space-between;
}
#number
{
    width: 212px;
}
.square
{
  border: 2px solid black;
  background: rgb(255, 26, 26);
  position: fixed;
}
.triangle
{
  position: fixed;
}
.circle
{
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgb(26, 141, 26);
  position: fixed;
}